<web-app version="3.1">
    <display-name>ServletDemo</display-name>


    <listener>
        <listener-class>com.example.listners.ContextListner</listener-class>
    </listener>

    <!-- Request Listener -->
    <listener>
        <listener-class>com.example.listners.RequestListner</listener-class>
    </listener>

        <!-- Servlet config-->

        <!--    system -->

            <!-- addSystem   -->
                <servlet>
                    <servlet-name>AddNewSystem</servlet-name>
                    <servlet-class>com.example.servlets.controllers.system.AddNewSystem</servlet-class>
                </servlet>

                <servlet-mapping>
                    <servlet-name>AddNewSystem</servlet-name>
                    <url-pattern>/system/addNewSystem</url-pattern>
                </servlet-mapping>

            <!-- deletesystem   -->

                <servlet>
                    <servlet-name>DeleteSystem</servlet-name>
                    <servlet-class>com.example.servlets.controllers.system.DeleteSystem</servlet-class>
                </servlet>

                <servlet-mapping>
                    <servlet-name>DeleteSystem</servlet-name>
                    <url-pattern>/system/delSystem</url-pattern>
                </servlet-mapping>

            <!--      updatesystem      -->
                <servlet>
                    <servlet-name> UpdateSystem </servlet-name>
                    <servlet-class>com.example.servlets.controllers.system.UpdateSystem</servlet-class>
                </servlet>

                <servlet-mapping>
                    <servlet-name>UpdateSystem </servlet-name>
                     <url-pattern>/system/updateSystem</url-pattern>
                </servlet-mapping>

            <!--      viewsystem      -->
            <servlet>
                <servlet-name> ViewSystems </servlet-name>
                <servlet-class>com.example.servlets.controllers.system.GetAllSystem</servlet-class>
            </servlet>

            <servlet-mapping>
                <servlet-name> ViewSystems </servlet-name>
                <url-pattern>/system/viewSystems</url-pattern>
            </servlet-mapping>

            <!--      searchsystem      -->
            <servlet>
                <servlet-name> SearchSystems </servlet-name>
                <servlet-class>com.example.servlets.controllers.system.SearchSystems</servlet-class>
            </servlet>

            <servlet-mapping>
                <servlet-name> SearchSystems </servlet-name>
                <url-pattern>/system/search</url-pattern>
            </servlet-mapping>


    <!--    Filter  confgi  -->
    <filter>
        <filter-name> AuthFilter </filter-name>
        <filter-class>com.example.filter.ExceptionHandlingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name> AuthFilter </filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
